body {
  background-color: #1A769A;
}

div {
  background-color: cornsilk;
  width: 95vw;
  margin: 10px auto;
  padding: 12px;
  text-align: center;
}

h1 {
  font-family: 'Modak', hevetica, cursive;
  font-size: 120px;
}

p {
  font-family: 'Comic Neue', cursive;
  font-weight: 300;
  text-align: left;
  color: peru;
  font-size: 40px;
}

img {
  width: 600px;
}


/* #plantPic {
  transform: rotate(90deg);
} */
